{% extends 'base.html.twig' %}

{% block body %}

<!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="intro-heading text-uppercase">l'aventure a perte de vue</div>
        <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#tricks"><i class="fas fa-arrow-down"></i></a>
      </div>
    </div>
  </header>

  <!-- Portfolio Grid -->
  <div id="tricks">
  <section class="bg-light page-section" id="portfolio">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">Tricks</h2>
        </div>
      </div>
      <div class="row">
      {% for article in articles %}
        <div class="col-md-4 col-sm-6 portfolio-item">
          <a class="portfolio-link" href="{{path('tricks', {'id': article.id, 'page': 1})}}">
            <div class="portfolio-hover">
              <div class="portfolio-hover-content">
                <i class="fas fa-plus fa-3x"></i>
              </div>
            </div>
            
            <img class="img-fluid" src="{{ asset('uploads/brochures/' ~ article.image1) }}" alt="">
            
          </a>
          <div class="portfolio-caption">
            <h4>{{article.title}}</h4>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </div>
  </section>
  </div>

{% endblock %}
